/* Sticky footer styles
-------------------------------------------------- */
footer {
padding: 25px 0;
text-align: center;
    //color:;
}

footer .container{
padding-bottom: 5px;
}

footer .quickLinks li a{
color: white;
}

footer .pageLinks li a{
color: white;
}
