@import "main";

.jumbotron {
    height: 500px;
    margin-bottom: 0px;
    background-image: url('Home-img.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

@media all and (max-width: 767px) and (min-width: 400px){

.jumbotron {
    height: 50%;
    
}
    
}

.homeContent{

margin-top: 15px;
}