@import "main";

.container{
opacity: 0.95;
padding-top: 15px;
border-radius: 5px;
//background: white;
}

.list{         
padding:0 0 0 0;
margin:0 0 0 0;
}
.list li {     
list-style:none;
margin-bottom:25px;

}
.list li img{
cursor: pointer;
padding-bottom: 20px;
}

.modal-body{
margin-left: 35px;
}

@media all and (max-width: 767px) and (min-width: 400px){

.modal-body{
margin-left: 0px;
}
    
}