@import "main";

.container{
opacity: 0.90;
}

footer .container{
opacity: 0.95;
padding-top: 15px;
border-radius: 5px;
//background: white;
}

.btn-group{
margin-bottom: 25px;
}

.table{
background: $darker-secondary;
}


.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  color: $darker-secondary;
}

    @media only screen and (max-width : 768px) {
.mvp{
display: none;
}
    }

@media only screen and (max-width : 480px) {
    
.goals{
display: none;
}
    
.mvp{
display: none;
}
    
  }

